{% extends(base) %}
{% block(content) %}
    <div id="welcome" class="bottom-2">
      <div class="sixteen columns">
        <div class="welcome">
        <p>
          Добро пожаловать на  <span class="color" >Minermode</span>. Для начала игры зарегистрируйтесь на сайте,
          но будьте внимательны: введенные вами данные будут использованы для входа в игру.
        </p>
        </div>
      </div>
    </div><!-- End Welcome -->
  
    
    
    
    <div class="sixteen column">
      <div class="recent-blog">
      
        <h2 class="title">Последние новости <span class="line"></span></h2>
        {%foreach(articles::article)%}
          <div class="blog-item">
            <div class="date">
                <span class="day">{% article.day %}</span>
                <span class="month">{% article.month %}</span>
            </div>
            <h3><a href="single_post.html">{% article.title %}</a></h3>
            <p>{% article.text %}</p>
            <span class="tags-comments"><a href="#">{% article.comments %}</a></span>
          </div>
        {%endfor%}
      </div>
    </div><!-- End recent-blog -->
</html>
{% endblock %}